.header{
    background-color: blue;
    text-align: center;
    background-image: ;
    background-size: cover;
}

.nav{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a{
    color: coral;
}

h1{
    font: size 45px;
    margin: 50px;
}
.content{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.content p{
    color:black;
}